# Default ignored files
/shelf/
/workspace.xml
/bin/
/.idea/
/.vscode/
/.config/
/obj/
/Data/
Env.txt
# Rider ignored files
/.idea.Test.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

config-bot.toml